version: "3.9"

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: billing
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6380:6379"

  app:
    build: .
    command: poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000
    environment:
      BILLING_DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/billing
      BILLING_REDIS_URL: redis://redis:6379/0
      BILLING_JWT_SECRET_KEY: change-me
    ports:
      - "8001:8000"
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: poetry run rq worker --url ${BILLING_REDIS_URL:-redis://redis:6379/0} billing
    environment:
      BILLING_DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/billing
      BILLING_REDIS_URL: redis://redis:6379/0
      BILLING_JWT_SECRET_KEY: change-me
    depends_on:
      - db
      - redis

  mock-payment:
    image: jmalloc/echo-server:latest
    ports:
      - "8081:8080"

volumes:
  pgdata:
